  Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
Examples*/
SerializerTest*/
[Pp]ackages/
*.csproj.user
*.resharper*
_BuildOutput/
_Out/
_ToolsCache/
_logs/
.svn
*.ncrunch*
*.*~
*.orig
.vs/
project.lock.json
bower_components/
node_modules/